$thin-border: solid 1px #ddd;
$classic-csu-red: #e33333;
$modern-csu-red: #cc0423;

nav {
    user-select: none;

}

.brand-logo {
    width: 100% !important;
    height: auto !important;
}

.brand-logo-mobile {
    max-width: 10rem;
}

aside.book-menu {
    .nav-divider {
        border-top: $thin-border;
        margin: 1rem 0;
    }
    ul li {
        margin: 0 !important;
        & > label,
        & > a {
            padding: 0.3rem 0.2rem;
            border: 1px solid white;
        }
        & > label:hover,
        & > a:hover {
            opacity: 1;
            border-radius: .2rem;
            border: 1px solid $classic-csu-red;
            background-color: rgba($classic-csu-red, 0.03);
        }
        & > label > a:hover {
            opacity: 1;
        }
    }
    ul#book-search-results {
        small {
            margin-left: 1rem;
        }
        small:before {
            content: "- "
        }
    }
}

aside.book-toc {
    nav#TableOfContents {
        padding-left: 1rem;
    }

    ul li {
        margin: 0 !important;
        & > label,
        & > a {
            padding: 0.3rem 0.2rem;
            border: 1px solid white;
        }
        & > label:hover,
        & > a:hover {
            opacity: 1;
            border-radius: .2rem;
            border: 1px solid var(--color-link);
        }
        & > label > a:hover {
            opacity: 1;
        }
    }
    #top-page-link {
        display: block;
        padding: 0.5rem 0.2rem;
        border: 1px solid white;
    }
    #top-page-link:hover {
        border-radius: .2rem;
        border: 1px solid var(--color-link);
    }
}

#return-link {
    #return-link-arrow {
        font-size: 2rem;
        margin-right: .5rem;
        color: $modern-csu-red;
    }
    a {
        line-height: 1.1rem;
    }
}

.vimeo-container {
    position: relative;
    padding-bottom: 45%;
    height: 0;
    overflow: hidden;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }
}

footer {
    border-top: $thin-border;

    #footer-info,
    #version-info {
        font-size: 0.7rem;
        opacity: 0.8;
    }
}

#sponsor-logos {
    justify-content: space-evenly;
    flex-wrap: wrap;

    img {
        max-height: 2.5rem;
        height: auto;
        width: auto;
        margin: 1rem 2rem;
    }
}

#migration-warning {
    margin: 2rem 0;
    padding: 0.5rem;
    background-color: #ffb3b3;
    border: 1px solid #fa6767;
    border-radius: 0.3rem;
    font-size: 0.8rem;
    line-height: 1.2rem;
    #under-construction-img {
        height: 7rem;
        width: auto;
        padding: 0;
    }
}

// Image gallery

.gallery {
    display: flex;
    flex-wrap: wrap;
    margin: -.2rem -.2rem 1rem -.2rem;

    .lightbox {
        margin: .2rem;

        img {
            height: 6rem;
        }
    }
}

// Parvus gallery overrides
.parvus-zoom__indicator {
    display: none !important;
}
